<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<h2>Cupcake Ipsum</h2>
<p>Cupcake ipsum dolor. Sit amet jujubes. Jelly-o sugar plum dragée jujubes toffee pastry cupcake candy canes. Cotton candy halvah tiramisu liquorice. Caramels jujubes cookie donut donut. Brownie jelly chocolate chupa chups icing chocolate. Soufflé gingerbread pastry sweet roll sweet. Liquorice gingerbread halvah marshmallow topping. Sesame snaps chocolate cake lollipop dessert cupcake.
</p>
<p>Chocolate lollipop powder tiramisu pie sweet caramels jujubes. Muffin bonbon tiramisu sesame snaps tootsie roll lemon drops marshmallow soufflé marzipan. Macaroon cheesecake dessert sugar plum powder. Candy canes chocolate jelly beans gummies gummies. Marshmallow cheesecake macaroon chocolate danish. Cake tootsie roll carrot cake chocolate bar.</p>
            
<h2>Cats</h2>
<%= image_tag("cat.jpg", alt: "Rails cat")%>

<h2>Conclusions</h2>
<p>Tiramisu icing sweet biscuit chupa chups tart. Sweet dessert croissant cotton candy topping. Dragée bear claw croissant brownie pastry candy canes gummies fruitcake jelly. Lemon drops fruitcake brownie. Candy canes tart candy toffee dragée cake caramels candy canes oat cake. Muffin liquorice apple pie. Candy halvah cake croissant sugar plum fruitcake biscuit. Icing caramels bonbon liquorice marshmallow jelly sugar plum bear claw soufflé.</p>